*{
    background-origin: content-box;
}
.nav{background-color: solid red;font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 2px lightgoldenrodyellow;
    /* width: 350px; */
    overflow: hidden;
}
.nav>li>a{
    text-decoration: none;
    display: block;
    /* width: 20%; */
    background-color:  rgba(224, 196, 196, 0.514);
    color:darkred;
    padding-bottom: 10px;
    text-align: center;
}
.nav>li>a:hover{
    background-color:rgba(255, 0, 0, 0.384);font-size: 30px;
    color: black;
}
.active>a{
    background-color: tomato !important;
    color: black !important;
}
.nav>li{
    border-bottom: 1px solid red;
    float: left;
    width: 20%;
}
.dropdown-content{

    display: none;
    position: absolute;
    min-width: 20%;
    background-color: rgba(224, 196, 196, 0.514);
}
.dropdown-content>a{
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    text-align: center;
}
.dropdown-content>a:hover{
    background-color: rgba(255, 0, 0, 0.384)
}
.dropdown:hover>.dropdown-content{
    display: block;
}
.div1{

}
.div1:hover{
    color: rgba(112, 23, 13, 0.829);font-size: 30px
}
 .menubutton{
        text-decoration: none;
        width: 45px;
        background-color: gray;
        display: none;
        text-align: center;
        border-radius: 25%;
        color: wheat;
    }
    .menubutton:hover{
        background-color: rgb(78, 75, 75);
    }
    @media screen and (max-width:480px){
        .nav>li {
            width: 100%;
        }
    }
    @media screen and (max-width:366px){
        .nav {
            display: none;
        }
        .menubutton{
            display: block;
        }
    }
    .list2{
        float: left;
        
    }
    .galary1{
        width: 33.33%;
        float: left;
        text-align: center;
        
    }
    .galary1>img{
        width: 300px;
        height: 300px;
        border-radius: 50%
    }
    .galary1>a{
        border: 3px red;
        display: block;
        width: 20px;
        height:20px;
        margin: auto;
        text-decoration: none;
        float: left;
    }